:root {
  --plm-font-family:
    'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  --plm-font-size-xs: 12px;
  --plm-font-size-sm: 13px;
  --plm-font-size-base: 14px;
  --plm-font-size-md: 16px;
  --plm-font-size-lg: 18px;
  --plm-font-size-xl: 22px;
  --plm-font-weight-medium: 500;
  --plm-font-weight-bold: 600;
}
